@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  cursor: url("./assets/layout/cursor.svg"), auto;

  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1d1d1d;
  }
}
